<div layout="column">
  <md-toolbar md-whiteframe>
    <div class="md-toolbar-tools">
      <h2>Alurapic</h2>
    </div>
  </md-toolbar>
  <md-content layout-padding layout-gt-xs="row">
    <form novalidate ng-submit="submeter()" name="formulario" flex-gt-xs="50">
      <md-input-container class="md-block">
        <label>Título</label>
        <input name="titulo" ng-model="foto.titulo" required ng-maxlength="20">
        <div ng-messages="formulario.titulo.$error" role="alert">
          <div ng-message="required">Título obrigatório</div>
          <div ng-message="maxlength">No máximo 20 caracteres!</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>URL</label>
        <input name="url" type="url" ng-model="foto.url" required>
        <div ng-messages="formulario.url.$error" role="alert">
          <div ng-message="required">URL obrigatória</div>
          <div ng-message="url">URL inválida</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Descrição</label>
        <textarea name="descricao" ng-model="foto.descricao" md-maxlength="150">
        </textarea>
        <div ng-messages="formulario.descricao.$error" role="alert">
          <div ng-message="md-maxlength">No máximo 150 caracteres!</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Grupo</label>
        <md-select name="grupo" ng-model="foto.grupo" ng-controller="GruposController">
          <md-option><em>Escolha um grupo</em></md-option>
          <md-option ng-repeat="grupo in grupos" ng-value="grupo._id">
            {{grupo.nome}}
          </md-option>
        </md-select>
        <div ng-messages="formulario.grupo.$error" role="alert">
          <div ng-message="required">Grupo obrigatório</div>
        </div>
      </md-input-container>
      <md-button type="submit" class="md-primary md-raised" ng-disabled="formulario.$invalid">Salvar</md-button>
      <md-button ng-href="/fotos">Voltar</md-button>
    </form>
    <md-card ng-show="foto.url">
      <img ng-src="{{foto.url}}" alt="{{foto.titulo}}">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{foto.titulo}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>{{foto.descricao}}</p>
      </md-card-content>
    </md-card>
  </md-content>
</div>
